.bloc{
    width: 700px;
    height: 150px;
    background-color:orange

}
#nom{
    text-align: center;
    margin-left: 180px;
    font-family: 'Times New Roman', Times, serif;
}
.bouton{
    background-color: black;
    color: white;
    margin-left: 340px;
    border-radius: 20px;
    border: none;
    width: 150px;
    padding: 10px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.couleur{
    width: 280px;
    height: 1050px;
    background-color: midnightblue;
    margin-top: -165px;
    margin-left: 30px;
}
#imagestyle{
    margin-top: 40px;
    margin-left: 80px;
    border-radius: 80px;
    border-width: 5px;
    border: none;
    box-shadow: 10px 10px 5px;
    color: burlywood;
}
#boutonstyle{
    margin-left: 40px;
    margin-top: 20px;
    width: 200px;
    border-radius: 20px;
    border: none;
    height: 30px;
    background-color: goldenrod;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
#vis{
    margin-left: 60px;
    border-radius: 30px;
}
.para1{
    margin-left: 115px;
    margin-top: -20px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ma-ligne-1{
    width: 200px;
    height: 1px;
    background-color: white;
    margin-left: 40px;
    border-radius: 10px;
    margin-top: 20px;
}
#mng{
    margin-left: 60px;
}
.para2{
    margin-left: 110px;
    margin-top: -20px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ma-ligne-2{
    width: 200px;
    height: 1px;
    background-color: white;
    margin-left: 40px;
    border-radius: 10px;
    margin-top: 20px; 
}
#cld{
    margin-left: 60px;
}
.para3{
    margin-left: 110px;
    margin-top: -25px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ma-ligne-3{
    width: 200px;
    height: 1px;
    background-color: white;
    margin-left: 40px;
    border-radius: 10px;
    margin-top: 20px;  
}
#dc{
    margin-left: 60px;
}
.para4{
    margin-left: 110px;
    margin-top: -25px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
#sof{
    margin-left: 40px;
    margin-top: 10px;
    width: 200px;
    border-radius: 20px;
    border: none;
    height: 30px;
    background-color: goldenrod;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.wa{
   margin-left: 40px; 
   color: white;
   font-size: 15px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#mesboutons{
    margin-left: 40px;
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: goldenrod;
    width: 10px;
    
}
#btn{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: goldenrod;
    width: 10px; 
    margin-left: 10px;
}
.carreau1{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: goldenrod;
    width: 10px; 
    margin-left: 10px;
}
.carreau2{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: goldenrod;
    width: 10px; 
    margin-left: 10px;
}
.carreau3{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: goldenrod;
    width: 10px; 
    margin-left: 10px;
}
.carreau4{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: goldenrod;
    width: 10px; 
    margin-left: 10px;
}
.carreau5{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: goldenrod;
    width: 10px; 
    margin-left: 10px;
}
.carreau6{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: goldenrod;
    width: 10px; 
    margin-left: 10px;
}

.ad{
    margin-left: 40px;
    color: white;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.puce1{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: goldenrod;
    width: 10px; 
    margin-left: 40px;
}
.puce2{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: goldenrod;
    width: 10px; 
    margin-left: 10px;
}
.puce3{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: goldenrod;
    width: 10px; 
    margin-left: 10px;
}
.puce4{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: goldenrod;
    width: 10px; 
    margin-left: 10px;
}
.puce5{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: goldenrod;
    width: 10px; 
    margin-left: 10px;
}
.puce6{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: goldenrod;
    width: 10px; 
    margin-left: 10px;
}
.puce7{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: white;
    width: 10px; 
    margin-left: 10px;
}
.puce8{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: white;
    width: 10px; 
    margin-left: 10px;
}
.fg{
    margin-left: 40px;
    color: white;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.boule1{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: goldenrod;
    width: 10px; 
    margin-left: 40px;
}
.boule2{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: goldenrod;
    width: 10px; 
    margin-left: 10px;
}
.boule3{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: goldenrod;
    width: 10px; 
    margin-left: 10px;
}
.boule4{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: goldenrod;
    width: 10px; 
    margin-left: 10px;
}
.boule5{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: white;
    width: 10px; 
    margin-left: 10px;
}
.boule6{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: white;
    width: 10px; 
    margin-left: 10px;
}
.boule7{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: white;
    width: 10px; 
    margin-left: 10px;
}
.boule8{
    border-radius: 30px;
    height: 12px;
    border: none;
    background-color: white;
    width: 10px; 
    margin-left: 10px;
}
#int{
    margin-left: 40px;
    margin-top: 10px;
    width: 200px;
    border-radius: 20px;
    border: none;
    height: 30px;
    background-color: goldenrod;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
#cyt{
    margin-left: 50px;
    border-radius: 30px;
}
.para5{
    margin-left: 130px;
    margin-top: -50px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 13px;
}
#tea-ass{
    margin-left: 50px;
    border-radius: 30px;
}
.para6{
    margin-left: 130px;
    margin-top: -40px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 13px;
}
#ast{
    margin-left: 50px;
}
.para7{
    margin-left: 130px;
    margin-top: -40px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 13px; 
}
.para8{
    margin-left: 350px;
    margin-top: -900px;
    font-size: 15px;
}
#texte{
    margin-left: 350px;
    margin-top: -15px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#ed{
    margin-left: 350px;
    border-radius: 30px;
    border: none;
    width: 160px;
    height: 30px;
    font-size: 15px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: goldenrod;
}
#rond{
    margin-left: 360px;
    margin-top: 20px;
    border-radius: 30px;
    height: 15px;
    border: none;
    background-color: goldenrod;
    width: 15px;
}
#ma-ligne-4{
    width: 2px;
    height: 70px;
    background-color: darkslateblue;
    margin-left: 365px;
    margin-top: -3px;
}
#bule{
    margin-left: 358px;
    margin-top: -15px;
    border-radius: 30px;
    height: 15px;
    border: none;
    background-color: goldenrod;
    width: 15px;
}
#ma-ligne-5{
    width: 2px;
    height: 40px;
    background-color: darkslateblue;
    margin-left: 365px;
    margin-top: -3px;
}
.para9{
    margin-left: 400px;
    margin-top: -150px;
    font-size: 15px;
    font-weight: bold;
    color:olive
}
#para10{
    margin-left: 400px;
    margin-top: -10px;
    font-size: 15px;
    color: olive;
    font-weight: bold;
}
#bas{
    margin-left: 400px;
    margin-top: -15px;
    font-size: 15px;
}
.para11{
    margin-left: 400px;
    margin-top: 25px;
    font-size: 15px;
    font-weight: bold;
    color:olive
}
#bst{
    margin-left: 400px;
    margin-top: -10px;
    font-size: 15px;
    color: olive;
    font-weight: bold;
}
#plus-bas{
    margin-left: 400px;
    margin-top: -15px;
    font-size: 15px;
}
#exp{
    margin-left: 350px;
    border-radius: 30px;
    border: none;
    width: 160px;
    height: 30px;
    font-size: 15px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: goldenrod;
}
.bule1{
    margin-left: 358px;
    margin-top: 30px;
    border-radius: 30px;
    height: 15px;
    border: none;
    background-color: goldenrod;
    width: 15px;
}
#ma-ligne-6{
    width: 2px;
    height: 80px;
    background-color: darkslateblue;
    margin-left: 365px;
    margin-top: -3px;
}
.bule2{
    margin-left: 358px;
    margin-top: -15px;
    border-radius: 30px;
    height: 15px;
    border: none;
    background-color: goldenrod;
    width: 15px;
}
#ma-ligne-7{
    width: 2px;
    height: 90px;
    background-color: darkslateblue;
    margin-left: 365px;
    margin-top: -3px;
}
.bule3{
    margin-left: 358px;
    margin-top: -15px;
    border-radius: 30px;
    height: 15px;
    border: none;
    background-color: goldenrod;
    width: 15px;
}
#ma-ligne-8{
    width: 2px;
    height: 50px;
    background-color: darkslateblue;
    margin-left: 365px;
    margin-top: -3px;
}
.texte1{
    margin-left: 400px;
    margin-top: -280px;
    font-size: 15px;
    font-weight: bold;
    color: olive;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#texte2{
    margin-left: 400px;
    margin-top: -10px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.texte3{
    margin-left: 400px;
    margin-top: 25px;
    font-size: 15px;
    font-weight: bold;
    color: olive;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.texte4{
    margin-left: 400px;
    margin-top: -10px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.texte5{
    margin-left: 400px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    color: olive;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.texte6{
    margin-left: 400px;
    margin-top: -10px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#point{
    margin-left: 350px;
    border-radius: 30px;
    border: none;
    width: 160px;
    height: 30px;
    font-size: 15px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: goldenrod
}
.texte7{
    margin-left: 370px;
    font-size: 15px;
    font-weight: bold;
    color: olive;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.texte8{
    margin-left: 370px;
    font-size: 15px;
    margin-top: -10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#fond{
    width: 750px;
    height: 40px;
    background-color: goldenrod;
    margin-left: -10px;
    margin-top: 25px;

}
#img2{
    width: 30px;
    margin-left: 560px;
    margin-top: 5px;
    border-radius: 40px;
}
.mail{
    margin-left: 600px;
    margin-top: -25px;
    font-weight: bold;
}
#img3{
    width: 30px;
    margin-top: -40px;
    margin-left: -200px;
    border-radius: 30px;
}
.numero{
    margin-left: 430px;
    margin-top:-25px;
    font-weight: bold;
}
#img1{
    width: 30px;
    margin-left: -370px;
    border-radius: 30px;
}
.rue{
    margin-left: 100px;
    margin-top: -30px;
    font-weight: bold;
}